In [3]:
import yfinance as yf
import pandas as pd

# Define the tickers for the assets
tickers = {
    'Vanguard_Index_Fund': 'VFINX',
    'S&P_500_Index_Fund': '^GSPC',
    'Gold': 'GC=F',
    'Crude_Oil': 'CL=F',
    '10Y_Treasury_Bonds': '^TNX'
}

# Set the time period for the data (for example, last 5 years)
start_date = '1940-01-01'
end_date = '2023-01-01'

# Fetch data for each ticker
data = {}
for name, ticker in tickers.items():
    data[name] = yf.download(ticker, start=start_date, end=end_date)

# Show the data for Vanguard Index Fund as an example
print("Vanguard Index Fund data:")
print(data['Vanguard_Index_Fund'].head())

# Alternatively, you can save the data to CSV files for further analysis
#for name, df in data.items():
#    df.to_csv(f'{name}_data.csv')
#    print(f"Saved {name} data to {name}_data.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Vanguard Index Fund data:
             Open   High    Low  Close  Adj Close  Volume
Date
1980-01-02  14.34  14.34  14.34  14.34   4.508340       0
1980-01-03  14.27  14.27  14.27  14.27   4.486334       0
1980-01-04  14.45  14.45  14.45  14.45   4.542923       0
1980-01-07  14.49  14.49  14.49  14.49   4.555497       0
1980-01-08  14.78  14.78  14.78  14.78   4.646668       0

In [4]:
data["Vanguard_Index_Fund"]

                  Open        High         Low       Close   Adj Close  Volume
Date
1980-01-02   14.340000   14.340000   14.340000   14.340000    4.508340       0
1980-01-03   14.270000   14.270000   14.270000   14.270000    4.486334       0
1980-01-04   14.450000   14.450000   14.450000   14.450000    4.542923       0
1980-01-07   14.490000   14.490000   14.490000   14.490000    4.555497       0
1980-01-08   14.780000   14.780000   14.780000   14.780000    4.646668       0
...                ...         ...         ...         ...         ...     ...
2022-12-23  354.570007  354.570007  354.570007  354.570007  347.170959       0
2022-12-27  353.160004  353.160004  353.160004  353.160004  345.790405       0
2022-12-28  348.910004  348.910004  348.910004  348.910004  341.629089       0
2022-12-29  355.049988  355.049988  355.049988  355.049988  347.640930       0
2022-12-30  354.170013  354.170013  354.170013  354.170013  346.779358       0

[10843 rows x 6 columns]